{{- $name := .Env.NAME -}}
{{- range $key, $data := ds "data" }}
  {{- if eq $key $name }}
    {{- with coll.Dict "directory" $key "data" $data }}
      {{- if eq .data.environment "rhtap" }}
        {{- template "rhtap" . }}
      {{- else }}
        {{- template "github" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
