# Enterprise Contract Configuration Files

This repo contains a set of `policy.yaml` files which can be used by the [Enterprise Contract
Command Line Interface](https://github.com/enterprise-contract/ec-cli) with a variety of
environments.

## Red Hat Trusted Application Pipeline

When using the [Red Hat Trusted Application
Pipeline](https://developers.redhat.com/products/trusted-software-supply-chain/overview)
environment, there is a predefined Integration Test pipeline definition for each of the configs in
this section. They can be used when creating an Integration Test in RHTAP as per the [documentation
here](https://redhat-appstudio.github.io/docs.appstudio.io/Documentation/main/how-to-guides/proc_managing-compliance-with-the-enterprise-contract/).

The policy configuration files are:
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "rhtap" }}
        {{- template "rhtap" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

## Red Hat Trusted Application Pipeline - Tasks

These are policy rules used to verify Tekton Task definitions meet the Red Hat guidelines for being
considered trusted.

The policy configuration files are:
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "rhtap-tasks" }}
        {{- template "rhtap-tasks" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

## GitHub

Container images built via [GitHub Actions](https://docs.github.com/actions) can be verified with
the following policy configurations.
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "github" }}
        {{- template "github" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
## See also

* [Policy Rule Documentation](https://enterprisecontract.dev/docs/ec-policies/release_policy.html)
* [Getting Started with Enterprise Contract &amp; Red Hat Trusted Application Pipeline](https://enterprisecontract.dev/docs/user-guide/main/getting-started.html)
